
*{
    font-family: 'Sora', sans-serif;
}input,button{
    width:340px;
}
 p{
     font-size: 14px;
 }
h2{
    margin-bottom: 25px;
    font-size: 16px;
}
input{
    margin-bottom: 25px;
    height: 40px;
    border:1px solid #DADADA;
}
button{
    background-color:#232529;
    color:white;
    height: 40px;
    border-radius: 4px;
    border:none;
}
.card{
   margin:150px auto;
}